<table>
    <thead>
        <tr>
            <th>Description</th>
            <th>Barcode</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of ProductList">
            <td>{{item.product.name}}</td>
            <td>{{item.product.barcode}}</td>
            <td>{{item.details.quantity}}</td>
            <td>{{item.product.price}}</td>
            <th>{{item.product.price * item.details.quantity}}</th>
        </tr>
    </tbody>
</table>
