<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Barcode</th>
            <th>Qty</th>
            <th>Unit Price</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of ProductList">
            <td>{{item.product.name}}</td>
            <td>{{item.product.barcode}}</td>
            <td>{{item.details.quantity}}</td>
            <td>{{item.details.unitPrice}}</td>
            <td>{{item.details.unitPrice * item.details.quantity}}</td>
            <td>
                <!--<fa name="minus-circle" animation="spin"></fa>-->
                <button mat-icon-button (click)="OnDeleteItem(item)" >
                    <mat-icon class="icon-red" >remove_circle_outline</mat-icon>
                </button>
                <!--<fa name="minus-circle" class="icon-red" click="OnDeleteItem(item)"></fa>-->
            </td>
        </tr>
    </tbody>
</table>
