
<div class="parent">
    <div class="grn-header" *ngIf="!IsLoading">
        <h2>New Good Receipt Note</h2>
    </div>

    <mat-horizontal-stepper [linear]="true" #stepper> 
      <mat-step label="Good Receipt Note" [completed]="step_One_Completed">
        <app-grn-form (formSubmit)="OnformSubmit($event)"></app-grn-form>
      </mat-step>
      <mat-step label="Good Receipt Note Items" [completed]="step_Two_Completed">
        <app-grn-item [grnHeaderForm]="grnHeaderForm"></app-grn-item>
      </mat-step>
      <mat-step label="Additional Items">
          Additional Items
      </mat-step>
      <mat-step label="Finish">
        Finish
      </mat-step>
    </mat-horizontal-stepper>
</div>