<mat-toolbar color="primary">

  <div class="header-menu-100">
    <span routerLink="/home-page">
      <h2>POS</h2>
    </span>
  </div>

  <div class="header-menu-200">
    <span [matMenuTriggerFor]="configurations">
      <mat-icon>settings</mat-icon>
      <span class="aligned-with-icon">Configurations</span>
    </span>
    <mat-menu #configurations="matMenu" class="menu-width">
      <a mat-menu-item routerLink="/home-page/supplier-list">
        <mat-icon>face</mat-icon>
        <span class="aligned-with-icon">Suppliers</span>
      </a>
      <a mat-menu-item routerLink="/home-page/category-list">
        <mat-icon>print</mat-icon>
        <span class="aligned-with-icon">Catogories</span>
      </a>
      <a mat-menu-item routerLink="/home-page/product-list">
        <mat-icon>shopping_cart</mat-icon>
        <span class="aligned-with-icon">Products</span>
      </a>
      <a mat-menu-item routerLink="/home-page/discount-list">
        <mat-icon>shopping_cart</mat-icon>
        <span class="aligned-with-icon">Discounts</span>
      </a>
    </mat-menu>
  </div>
  <div class="header-menu-200">
    <span routerLink="/home-page/purchase-order-list">
      <mat-icon>assignment</mat-icon>
      <span class="aligned-with-icon">Purchase Order</span>
    </span>
  </div>

  <div class="header-menu-200" class="menu-profile">
    <span [matMenuTriggerFor]="profilemenu">
      <mat-icon class="profile-icon">account_circle</mat-icon>
    </span>

    <mat-menu #profilemenu="matMenu" class="menu-width">
      <mat-list>
        <mat-list-item>
          <span class="profile-name">
            {{LoggedUser}}
          </span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <a mat-menu-item routerLink="/home-page/supplier-list">
            <span class="aligned-with-icon">Sign out</span>
          </a>
        </mat-list-item>
      </mat-list>
    </mat-menu>
  </div>

</mat-toolbar>




<!-- <mat-toolbar>
  <a routerLink="/">Pos</a>
  <a mat-icon-button aria-label="Example icon-button with a heart icon"
      routerLink="/supplier-list" >
      <mat-icon>eco</mat-icon>
  </a>
  <a mat-icon-button aria-label="Example icon-button with a heart icon"
      routerLink="/category-list">
      <mat-icon>print</mat-icon>
  </a>
  <a mat-icon-button aria-label="Example icon-button with a heart icon"
      routerLink="/product-list">
      <mat-icon>shopping_cart</mat-icon>
  </a>
  <a mat-icon-button aria-label="Example icon-button with a heart icon"
      routerLink="/product-config">
  <mat-icon>account_tree</mat-icon>
  </a>
  <a mat-icon-button aria-label="Example icon-button with a heart icon"
  routerLink="/purchase-order-list">
<mat-icon>spa</mat-icon>
</a>
</mat-toolbar> -->
