.mat-icon{
  margin-top: 8px;
  margin-right: 5px;
}
.aligned-with-icon{
  position: absolute;
  margin-top: 5px;
  margin-left: 5px; /* optional */
}

.mat-menu-item{
  width: 150px;
}

.header-menu-100{
  width:100px;
}
.header-menu-200{
  width:200px;
}

.header-menu-227 {
  width: 227px;
}

.menu-profile {
  position: absolute;
  right: 25px;
}

.profile-icon{
  font-size: 45px;
  color:#0b2c60;
}

span.profile-name {
  color: rgb(40, 139, 196);
  font-size: 15px;
}

a {
  /* width: 100% !important; */
  /* padding-left: 0px; */
  padding-right: 0px;
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
  font-weight: 550;
}

div.mat-list-item-content {
  padding: 0px 6px !important;
}