.example-card {
    max-width: 400px;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
    display: inline-block;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }