<h3 mat-dialog-title>Product quanity</h3>

<mat-dialog-content>
    <form class="category-form" [formGroup]="poDetailPickerFormGroup" autocomplete="off">
        <mat-checkbox formControlName="isBaseUnit" (change)="checkChange($event)">Base Unit</mat-checkbox>

        <mat-form-field class="full-width">
            <mat-label>Unit</mat-label>
            <mat-select formControlName="unitId" *ngIf="!IsBaseUnit">
                <mat-option *ngFor="let measurement of measurements" [value]="measurement.id">
                  {{measurement.name}} &nbsp;
                  <em class="unit-details">({{measurement.quantity}} {{measurement.baseUnit.symbol}})</em>
                </mat-option>
            </mat-select>

            <mat-select formControlName="unitId" *ngIf="IsBaseUnit">
                <mat-option *ngFor="let baseUnit of baseUnits" [value]="baseUnit.id">
                  {{baseUnit.name}} &nbsp;
                  <em class="unit-details">({{baseUnit.symbol}})</em>
                </mat-option>
            </mat-select>

            <mat-error *ngIf="poDetailPickerFormGroup.get('unitId').invalid">
                <span *ngIf="poDetailPickerFormGroup.get('unitId').errors.required">Mandatory</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Quantity</mat-label>
            <input matInput placeholder="Pickup your quantity" formControlName="quantity" type="number">
            <mat-error *ngIf="poDetailPickerFormGroup.get('quantity').invalid">
                <span *ngIf="poDetailPickerFormGroup.get('quantity').errors.required">Mandatory</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Unit Price</mat-label>
            <input matInput placeholder="Price of a unit" formControlName="unitPrice" type="number">
            <mat-error *ngIf="poDetailPickerFormGroup.get('unitPrice').invalid">
                <span *ngIf="poDetailPickerFormGroup.get('unitPrice').errors.required">Mandatory</span>
            </mat-error>
        </mat-form-field>

    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button  mat-raised-button class="float-right" (click)="OnConfirm()" color="primary">Confirm</button>
    <button  mat-raised-button class="float-right" (click)="OnCancel()">Cancel</button>
</mat-dialog-actions>
