<mat-card class="example-card" *ngFor="let category of categoryList" (click)="OnCategoryClick(category)">
    <mat-card-header>
        <mat-card-title> {{category.name}} </mat-card-title>
        <mat-card-subtitle> {{category.description}} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
        </p>
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
</mat-card>
<mat-card class="card-add example-card" (click)="OnAddNewClick()">
    <mat-card-content>
        <mat-icon class="icon-add">add</mat-icon>
    </mat-card-content>
</mat-card>
