<div *ngIf="!IsLoading">
    <mat-card class="example-card" *ngFor="let category of categoryList">
        <div (click)="OnCategoryClick(category)">
            <mat-card-header>
                <mat-card-title> {{category.name}} </mat-card-title>
                <mat-card-subtitle> {{category.description}} </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                </p>
            </mat-card-content>
        </div>
        <mat-card-actions>
            <button mat-icon-button (click)="OnDeleteCategory(category.id)" >
                <mat-icon class="icon-red">delete</mat-icon>
            </button>
            <button mat-icon-button (click)="OnEditCategory(category)">
                <mat-icon>edit</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" *ngFor="let product of productList">
        <div (click)="OnCategoryClick(product)">
            <mat-card-header>
                <mat-card-title> {{product.code}} </mat-card-title>
                <mat-card-subtitle> {{product.name}} </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                </p>
            </mat-card-content>
        </div>
        <mat-card-actions>
            <button mat-icon-button (click)="OnDeleteProduct(product.id)" >
                <mat-icon class="icon-red">delete</mat-icon>
            </button>
            <button mat-icon-button (click)="OnEditProduct(product)">
                <mat-icon>edit</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>

<mat-spinner class="cus-spinner" [diameter]="80" *ngIf="IsLoading"></mat-spinner>
<button mat-fab class="fab-plus" (click)="OnAddNewClick()">
    <mat-icon>add</mat-icon>
</button>
<button mat-fab class="fab-back" *ngIf="BackButtonVisible" (click)="GoBackByOneLevel()">
    <mat-icon>arrow_back</mat-icon>
</button>