<div class="form-container">
    <h1 class="login-header">Sign in</h1>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="OnSubmit()" autocomplete="off">
        <mat-form-field appearance="standard" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="mypos@hotmail.com" formControlName="email">
            <mat-error *ngIf="loginForm.get('email').invalid">
                <span *ngIf="loginForm.get('email').errors.required">Mandatory</span>
            </mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="standard" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="abc@123" formControlName="password">
            <mat-error *ngIf="loginForm.get('password').invalid">
                <span *ngIf="loginForm.get('password').errors.required">Mandatory</span>
            </mat-error>
        </mat-form-field>
    
        <button type="submit" mat-raised-button color="primary" class="btn-login">
            <mat-spinner class="loading-spinner" [strokeWidth]="3" [diameter]="20" *ngIf="loading"></mat-spinner>Sign in
        </button>
        <mat-error>
            <span>{{ResponseError}}</span>
        </mat-error>
    </form>
</div>
<button mat-stroked-button color="primary" (click)="SignUp()" class="btn-signup">
    Sign up
</button>
