.form-container{
    width: 230px;
    margin: auto;
    margin-top: 10%;
}


.btn-login {
    width: 100%;
}

mat-form-field {
    width: 230px;
}

.login-header{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.btn-signup {
    position:absolute;
    right: 20px;
    top: 20px;
}