<div class="m-l-20 m-r-20" *ngIf="result">
    <h2>Good Receipt Note Details</h2>
    <div class="flex-row-container">
        
        <div class="flex-column-container">
            <!-- good received note info -->
            <div class="flex-column-container">
                <div class="flex-row-container">
                    <div class="flex-column-container f-w-600 m-r-20">
                        <div>Code</div>
                        <div>Price (Total)</div>
                        <div>Date</div>
                        <div>Time</div>
                        <div>Created By</div>
                        <div *ngIf="result.comment">Comment</div>
                    </div>
                    <div class="flex-column-container m-r-50">
                        <div>{{result.code}}</div>
                        <div>{{result.totalPrice}}</div>
                        <div>{{result.createdOn|date}}</div>
                        <div>{{result.time|date:'shortTime'}}</div>
                        <div>{{result.createdByName}}</div>
                        <div *ngIf="result.comment">{{result.comment}}</div>
                    </div>
                </div>
            </div>
    
            <div class="po-section-header">
                Purchase Order
            </div>
            <!-- purchase order infor -->
            <div class="flex-column-container">
                <div class="flex-row-container">
                    <div class="flex-column-container f-w-600 m-r-20">
                        <div>Code</div>
                        <div>Price (Total)</div>
                        <div>Date</div>
                        <div>Delivery Date</div>
                        <div>Created By</div>
                        <div>Status</div>
                        <div *ngIf="result.purchaseOrder.referenceId">Reference Id</div>
                    </div>
                    <div class="flex-column-container m-r-50">
                        <div>{{result.purchaseOrder.code}}</div>
                        <div>{{result.purchaseOrder.totalPrice}}</div>
                        <div>{{result.purchaseOrder.date|date}}</div>
                        <div>{{result.purchaseOrder.deliveryDate|date}}</div>
                        <div>{{result.purchaseOrder.createdByName}}</div>
                        <div>{{result.purchaseOrder.status|poStatus}}</div>
                        <div *ngIf="result.purchaseOrder.referenceId">{{result.purchaseOrder.referenceId}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="grn-detail-container">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="result.items">
    
                    <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef> Code </th>
                    <td mat-cell *matCellDef="let column"> {{column.purchaseOrderDetail.item.code}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="barcode">
                    <th mat-header-cell *matHeaderCellDef> Barcode </th>
                    <td mat-cell *matCellDef="let column"> {{column.purchaseOrderDetail.item.barcode}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let column"> {{column.purchaseOrderDetail.item.name}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef> Quantity </th>
                        <td mat-cell *matCellDef="let column"> {{column.quantity}} {{column.unit.symbol}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="sellingPrice">
                        <th mat-header-cell *matHeaderCellDef> Selling Price </th>
                        <td mat-cell *matCellDef="let column"> {{column.sellingPrice}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="purchasingPrice">
                        <th mat-header-cell *matHeaderCellDef> Purchasing Price </th>
                        <td mat-cell *matCellDef="let column"> {{column.purchasingPrice}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="expireDate">
                        <th mat-header-cell *matHeaderCellDef> Expire Date </th>
                        <td mat-cell *matCellDef="let column"> {{column.expireDate|date}} </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>

    </div>
</div>

<div class="grn-detail-loading-shade" *ngIf="IsLoading">
    <mat-spinner [diameter]="80" *ngIf="IsLoading"></mat-spinner>
</div>

<button mat-fab class="fab-back" (click)="OnGoBack()">
    <mat-icon>arrow_back</mat-icon>
</button>