div.flex-row-container {
    display: flex;
    flex-direction: row;
}

div.flex-column-container {
    display: flex;
    flex-direction: column;
}

.po-section-header {
    margin-top: 25px;
    font-weight: 600;
    font-size: 17px;
}

.m-l-20 {
    margin-left: 20px;
}

.m-r-50{
    margin-right: 50px;
}

.m-r-20{
    margin-right: 20px;
}

.m-r-20 {
    margin-right: 20px;
}

.f-w-600 {
    font-weight: 600;
}