<div class="search-form">
    <form class="grn-form" [formGroup]="searchForm" autocomplete="off">
        <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput formControlName="searchText" placeholder="Code, Supplier" autocomplete="off">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>From</mat-label>
            <input matInput placeholder="From Date" formControlName="startDate" [matDatepicker]="pickerFrm">
            <mat-datepicker-toggle matSuffix [for]="pickerFrm"></mat-datepicker-toggle>
            <mat-datepicker #pickerFrm></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>To</mat-label>
            <input matInput placeholder="To Date" formControlName="endDate" [matDatepicker]="pickerTo">
            <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
            <mat-datepicker #pickerTo></mat-datepicker>
        </mat-form-field>
    </form>
</div>
<div class="po-container mat-elevation-z8">

    <div class="po-loading-shade" *ngIf="IsLoading">
        <mat-spinner [diameter]="80" *ngIf="IsLoading"></mat-spinner>
    </div>
    <div class="po-table-container">
        <table *ngIf="purchaseOrderResponse" mat-table [dataSource]="purchaseOrderResponse.items">
        
            <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let column"> {{column.date|date}} </td>
            </ng-container>

            <ng-container matColumnDef="supplierName">
            <th mat-header-cell *matHeaderCellDef> Supplier </th>
            <td mat-cell *matCellDef="let column"> {{column.supplierName}} </td>
            </ng-container>

            <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> Code </th>
            <td mat-cell *matCellDef="let column"> {{column.code}} </td>
            </ng-container>
        
            <ng-container matColumnDef="totalPrice">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let column"> {{column.totalPrice}} </td>
            </ng-container>

            <ng-container matColumnDef="userId">
                <th mat-header-cell *matHeaderCellDef> UserID </th>
                <td mat-cell *matCellDef="let column"> {{column.userId}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let column">
                    <button mat-icon-button (click)="OnSeeMore(column)">
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>
    </div>
    <mat-paginator
        *ngIf="purchaseOrderResponse"
        [length]="purchaseOrderResponse.totalCount"
        [pageSize]="purchaseOrderResponse.pageSize"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="OnPage($event)">
    </mat-paginator>
</div>