
div.child {
    width: 100%;
    margin-top: 10px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

mat-form-field.mat-form-field {
    width: 100%;
}

div.form {
    width: 20%;
}

.green {
    color:#8cc831;
}

.orange {
    color:#ff8f00;
}