<mat-toolbar>
    <a routerLink="/">Pos</a>
    <a mat-icon-button aria-label="Example icon-button with a heart icon"
        routerLink="/supplier">
        <mat-icon>eco</mat-icon>
    </a>
    <a mat-icon-button aria-label="Example icon-button with a heart icon"
        routerLink="/category">
        <mat-icon>print</mat-icon>
    </a>
    <a mat-icon-button aria-label="Example icon-button with a heart icon"
        routerLink="/product">
        <mat-icon>shopping_cart</mat-icon>
    </a>
    <a mat-icon-button aria-label="Example icon-button with a heart icon"
        routerLink="/product">
    <mat-icon>account_tree</mat-icon>
    </a>
</mat-toolbar>
<router-outlet></router-outlet>