div.parent {
    position: relative;
    margin-top: 30px;
}

div.discount-header {
    width: 50%;
    margin-left: 20px;
}

/* div.table-container {
    width: 50%;
    margin-left: 20px;
}

div.item-picker {
    width:45%;
    position:absolute;
    right: 0;
    top: 0;
    margin-right: 20px;
}

table {
    width: 100%;
}

.icon-red{
    color: rgb(218, 30, 30);
    font-size: 21px;
} */

.fab-save {
    position:fixed;
    right: 0;
    bottom: 0;
    margin-right: 15px;
    margin-bottom: 15px;
    color: white;
}

.fab-back {
    position:fixed;
    left: 0;
    bottom: 0;
    margin-left: 15px;
    margin-bottom: 15px;
    background-color:rgba(0,0,0,.87);
    color: white;
}
