<form class="category-form" [formGroup]="purchaseOrderHeader" (ngSubmit)="OnSubmit()">

    <mat-form-field appearance="standard" class="full-width">
        <mat-label>Code</mat-label>
        <input matInput placeholder="Placeholder" formControlName="code">
        <mat-error *ngIf="purchaseOrderHeader.get('code').invalid">
            <span *ngIf="purchaseOrderHeader.get('code').errors.required">Mandatory</span>
        </mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="standard" class="full-width">
        <mat-label>Date</mat-label>
        <input matInput placeholder="Placeholder" formControlName="date" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="purchaseOrderHeader.get('date').invalid">
            <span *ngIf="purchaseOrderHeader.get('date').errors.required">Mandatory</span>
        </mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="standard" class="full-width">
        <mat-label>Delivery Date</mat-label>
        <input matInput placeholder="Placeholder" formControlName="deliveryDate" [matDatepicker]="DeliveryDatepicker">
        <mat-datepicker-toggle matSuffix [for]="DeliveryDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #DeliveryDatepicker></mat-datepicker>
        <mat-error *ngIf="purchaseOrderHeader.get('deliveryDate').invalid">
            <span *ngIf="purchaseOrderHeader.get('deliveryDate').errors.required">Mandatory</span>
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" class="full-width">
        <mat-label>User</mat-label>
        <input formControlName="createdBy" type="hidden">
        <input matInput placeholder="User" formControlName="user">
    </mat-form-field>
    
    <mat-form-field appearance="standard" class="full-width">
        <mat-label>Price</mat-label>
        <input matInput placeholder="Placeholder" formControlName="totalPrice">
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" 
    class="btn-po-save">Save</button>
</form>
