<form class="purchase-order-form" [formGroup]="purchaseOrderHeader" (ngSubmit)="OnSubmit()">

    <div class="po-header-row-one">
        <div class="po-code">
            <input type="hidden" formControlName="code">
            <div>{{purchaseOrderHeader.get('code').value}}</div>
        </div>
        <div>
            <button type="submit" mat-raised-button color="primary" 
            class="btn-po-save">Save</button>
        </div>
    </div>
    
    <div class="po-header-row-two">
        <mat-form-field class="w-160">
            <mat-label>Date</mat-label>
            <input matInput placeholder="Placeholder" formControlName="date" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="purchaseOrderHeader.get('date').invalid">
                <span *ngIf="purchaseOrderHeader.get('date').errors.required">Mandatory</span>
            </mat-error>
        </mat-form-field>
        
        <mat-form-field class="w-160">
            <mat-label>Delivery Date</mat-label>
            <input matInput placeholder="Placeholder" formControlName="deliveryDate" [matDatepicker]="DeliveryDatepicker">
            <mat-datepicker-toggle matSuffix [for]="DeliveryDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #DeliveryDatepicker></mat-datepicker>
            <mat-error *ngIf="purchaseOrderHeader.get('deliveryDate').invalid">
                <span *ngIf="purchaseOrderHeader.get('deliveryDate').errors.required">Mandatory</span>
            </mat-error>
        </mat-form-field>
    
        <mat-form-field class="w-300">
            <mat-label>Supplier</mat-label>
            <mat-select formControlName="supplierId"placeholder="Supplier">
                <mat-option *ngFor="let supplier of supplierList" [value]="supplier.id">
                    {{supplier.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="purchaseOrderHeader.get('supplierId').invalid">
                <span *ngIf="purchaseOrderHeader.get('supplierId').errors.required">Mandatory</span>
            </mat-error>
        </mat-form-field>
    </div>

    <mat-form-field class="full-width">
        <mat-label>User</mat-label>
        <input matInput placeholder="User" formControlName="user">
    </mat-form-field>
    
    <mat-form-field class="full-width">
        <mat-label>Price</mat-label>
        <input matInput placeholder="Placeholder" formControlName="totalPrice">
    </mat-form-field>
    
</form>
