<form class="supplier-form" autocomplete="off">
    <mat-form-field appearance="standard" class="full-width">
        <mat-label>Code</mat-label>
        <input matInput placeholder="Placeholder">
    </mat-form-field>

    <mat-form-field appearance="standard" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Placeholder">
    </mat-form-field>

    <mat-form-field appearance="standard" class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="standard" class="full-width">
        <mat-label>Contact no</mat-label>
        <input matInput placeholder="Placeholder">
    </mat-form-field>

    <mat-form-field appearance="standard" class="full-width">
        <mat-label>Telephone</mat-label>
        <input matInput placeholder="Placeholder">
    </mat-form-field>

    <mat-form-field appearance="standard" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Placeholder">
    </mat-form-field>

    <mat-form-field appearance="standard" class="full-width">
        <mat-label>Comment</mat-label>
        <textarea matInput placeholder="Leave a comment"></textarea>
    </mat-form-field>

    <mat-slide-toggle>Blacklist</mat-slide-toggle>    
    <mat-slide-toggle>Active</mat-slide-toggle>
    <button mat-button class="float-right">Save</button>
</form>