<div class="flx-col-container">
    <div class="h-1">New Product</div>
    <form class="product-form" [formGroup]="prouctFormGroup" (ngSubmit)="OnSubmit()" autocomplete="off">

        <div class="form-code-field">
            <input type="hidden" formControlName="Code">
            <div>{{prouctFormGroup.get('Code').value}}</div>
        </div>
    
        <mat-form-field appearance="standard" class="full-width">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Placeholder" formControlName="Name">
            <mat-error *ngIf="prouctFormGroup.get('Name').invalid">
                <span *ngIf="prouctFormGroup.get('Name').errors.required">Mandatory</span>
            </mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="standard" class="full-width" *ngIf="pcsetupScreenActive">
            <mat-label>Category</mat-label>
            <input matInput placeholder="Placeholder" formControlName="CategoryName">
        </mat-form-field>
        <input type="hidden" formControlName="CategoryId" *ngIf="pcsetupScreenActive">
    
        <mat-form-field appearance="standard" class="full-width" *ngIf="!pcsetupScreenActive">
            <mat-label>Category</mat-label>
            <mat-select formControlName="CategoryId">
                <mat-option *ngFor="let category of categoryList" [value]="category.id">
                    {{category.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    
        <mat-form-field appearance="standard" class="full-width">
            <mat-label>Barcode</mat-label>
            <input matInput placeholder="Placeholder" formControlName="Barcode">
        </mat-form-field>
    
        <mat-form-field appearance="standard" class="full-width">
            <mat-label>Reorder Level</mat-label>
            <input type="number" matInput placeholder="Minimum no of items in inventory" formControlName="reOrderLevel">
        </mat-form-field>
    
        <mat-slide-toggle formControlName="Active">Active</mat-slide-toggle>
        <button type="submit" mat-button class="float-right" >Save</button>
    </form>

</div>
