<!--
<mat-card class="example-card" *ngFor="let product of productList">
    <mat-card-header>
        <mat-card-title> {{product.name}} </mat-card-title>
        <mat-card-subtitle> {{product.code}} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{product.price}}<br>
            <span>{{product.barcode}}</span>
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button (click)="OnDelete(product.id)" >
            <mat-icon class="icon-red">delete</mat-icon>
        </button>
        <button mat-icon-button (click)="OnEdit(product)">
            <mat-icon>edit</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>

<mat-spinner class="cus-spinner" [diameter]="80" *ngIf="IsLoading"></mat-spinner>
<button mat-fab class="fab-plus" (click)="OnAddClick()">
    <mat-icon>add</mat-icon>
</button>
-->

<h1>Products</h1>
<div class="product-container mat-elevation-z8">

    <div class="product-loading-shade" *ngIf="IsLoading">
        <mat-spinner [diameter]="80" *ngIf="IsLoading"></mat-spinner>
    </div>
    <div class="product-table-container">
        <table *ngIf="productResponse" mat-table [dataSource]="productResponse.items">

            <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> Code </th>
            <td mat-cell *matCellDef="let product"> {{product.code}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let product"> {{product.name}} </td>
            </ng-container>
            

            <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let product"> {{product.price}} </td>
            </ng-container>

        
            <ng-container matColumnDef="barcode">
            <th mat-header-cell *matHeaderCellDef> Barcode </th>
            <td mat-cell *matCellDef="let product"> {{product.barcode}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let product">
                    <button mat-icon-button (click)="OnDelete(product.id)" >
                        <mat-icon class="icon-red">delete</mat-icon>
                    </button>
                    <button mat-icon-button (click)="OnEdit(product)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator
        *ngIf="productResponse"
        [length]="productResponse.totalCount"
        [pageSize]="productResponse.pageSize"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="OnPage($event)">
    </mat-paginator>
</div>
<button mat-fab class="fab-plus" (click)="OnAddClick()">
    <mat-icon>add</mat-icon>
</button>