table {
    width: 100%;
}

.icon-red{
    color: rgb(218, 30, 30);
    font-size: 21px;
}

div.table-container {
    width: 50%;
}

.fab-back {
    position:absolute;
    left: 0;
    bottom: 0;
    margin-left: 15px;
    margin-bottom: 15px;
    background-color:rgba(0,0,0,.87);
    color: white;
}